body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Optional: 배경 색상 */
}
.content {
    text-align: center;
}
.error-image {
    max-width: 50%; /* 중간 정도 크기로 설정 */
    height: auto;
}
h1 {
    color: #333;
    font-size: 2em;
    margin-top: 20px;
}