/* 공통 스타일 */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background: #edf2f4;
    color: #2b2d42;
    overflow: visible;
}

.sticky-nav {
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease; /* 부드러운 배경 전환 효과 */
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 110px;
}

.navbar-fixed {
    background-color: #37517e !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    color: #000000 !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #000000 !important;
    font-size: 1.3rem;
    margin: 0 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #8d99ae !important;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1);
}



/* 푸터 스타일 */
footer {
    background-color: #edf2f4 !important; /* 푸터 배경색 */
    color: #2b2d42 !important;
    margin-top: auto; /* 푸터를 하단에 배치 */
    width: 100%;
    font-size: 1.2rem; /* 푸터 텍스트 크기 증가 */
}

/* 컨테이너 스타일 */
.container {
    flex-grow: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1.1rem; /* 텍스트 크기 조금 증가 */
}

/* 폼 스타일 */
.form-control {
    background-color: #edf2f4; /* 폼 배경색 */
    color: #2b2d42; /* 폼 텍스트 색상 */
    border-radius: 0.5rem; /* 폼 요소 경계선 둥글게 */
    font-size: 1.1rem; /* 폼 텍스트 크기 증가 */
    border-color: #2b2d42;
}
.form-control::placeholder {
    color: #2b2d42; /* 폼 플레이스홀더 색상 */
}

/* 버튼 스타일 */
.btn-primary {
    background-color: #2b2d42; /* 버튼 배경색 */
    border: none;
    color: #edf2f4; /* 버튼 텍스트 색상 */
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem; /* 버튼 경계선 둥글게 */
}
.btn-primary:hover {
    background-color: #8d99ae; /* 버튼 호버 배경색 */
}
.btn-danger {
    background-color: #ef233c; /* 삭제 버튼 배경색 */
    border: none;
    color: #edf2f4; /* 삭제 버튼 텍스트 색상 */
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem; /* 삭제 버튼 경계선 둥글게 */
}
.btn-secondary, .btn-third {
    background-color: #2b2d42; /* 수정 버튼 배경색 */
    border: none;
    color: #edf2f4; /* 수정 버튼 텍스트 색상 */
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem; /* 수정 버튼 경계선 둥글게 */
}
.btn-third {
    font-size: 1.1rem; /* 버튼 텍스트 크기 조금 감소 */
}

/* 리스트 스타일 */
.list-group-item {
    background-color: #2b2d42; /* 리스트 항목 배경색 */
    color: #edf2f4; /* 리스트 항목 텍스트 색상 */
    border: none;
    margin-bottom: 1rem;
    padding: 1.75rem; /* 리스트 항목 패딩 증가 */
    font-size: 1.35rem; /* 리스트 텍스트 크기 증가 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    border-radius: 0.5rem; /* 리스트 항목 경계선 둥글게 */
}
.list-group-item:not(:last-child) {
    border-bottom: 1px solid #2b2d42; /* 리스트 항목 사이의 경계선 */
}
.list-group-item:hover {
    background-color: #2b2d42; /* 리스트 항목 호버 배경색 */
    color: #edf2f4; /* 리스트 항목 호버 텍스트 색상 */
}
.list-group-item a {
    color: #edf2f4; /* 리스트 항목 링크 색상 */
    text-decoration: none;
    font-weight: 700;
}
.list-group-item a:hover {
    color: #edf2f4; /* 리스트 항목 링크 호버 색상 */
}