body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* 폰트 설정 */
    background: white;
    color: #2b2d42;
    display: flex;
    flex-direction: column;
}

/* 애니메이션 키프레임 정의 */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animated-text span {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: calc(var(--order) * 0.2s); /* 각 문자 초기 딜레이 */
    animation-iteration-count: infinite;
    animation-duration: 5s; /* 애니메이션 전체 길이 */
}

.animated-text span:nth-child(1) { --order: 1; }
.animated-text span:nth-child(2) { --order: 2; }
.animated-text span:nth-child(3) { --order: 3; }
.animated-text span:nth-child(4) { --order: 4; }
.animated-text span:nth-child(5) { --order: 5; }
.animated-text span:nth-child(6) { --order: 6; }
.animated-text span:nth-child(7) { --order: 7; }
.animated-text span:nth-child(8) { --order: 8; }

/* 전체 애니메이션 후 3초간 정지하는 delay */
.animated-text {
    animation-delay: 3s;
}

/* 푸터 스타일 */
footer {
    background-color: white;
    color: #2b2d42;
    margin-top: auto;
    width: 100%;
    font-size: 1.2rem;
}

/* 네비게이션 바 스타일 */
.navbar {
    height: 110px;
    background-color: white !important;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #2b2d42 !important;
}

/* 메인 컨텐츠 스타일 */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}

.animated-text h1 {
    font-size: 7rem;
}