<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.username}"></span>!</h1>
<div>
    <a th:if="${user.role == 'PROFESSOR'}" th:href="@{/course/create}">Create Class</a>
    <a th:if="${user.role == 'STUDENT'}" th:href="@{/course/join}">Join Class</a>
</div>
<div>
    <h2>Your Classes</h2>
    <ul>
        <li th:each="course : ${courses}">
            <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}"></a>
        </li>
    </ul>
</div>
</body>
</html>
