<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Edit ' + ${problem.title}">Edit Problem</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <style>
    body {
      background-color: #edf2f4;
    }
    .contest-banner {
      background: linear-gradient(to right, #37517e, #000000);
      color: white;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin-top: -10px;
    }
    .contest-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .contest-header h1, .contest-header .contest-code {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .btn-lightblue {
      background-color: #47b2e4;
      border: 0;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
    }
    .btn-lightblue:hover {
      background-color: #138496;
      text-decoration: none;
      color: white;
    }
    .main-container {
      background-color: #f3f5fa;
      border: 1px solid #dfdfff;
      padding: 20px;
      margin-top: 20px;
      border-radius: 10px;
    }
    .grading-testcase-container {
      margin-top: 40px;
      border-top: 2px solid #37517e;
      padding-top: 20px;
    }
    .delete-btn {
      background: none;
      border: none;
      color: red;
      font-size: 1.0rem;
    }
  </style>
</head>
<body>
<div th:replace="~{fragments :: nav}"></div>

<div class="container mt-1">
  <div class="contest-banner">
    <div class="contest-header">
      <h1 th:text="'Edit ' + ${problem.title}">Edit Problem</h1>
    </div>
  </div>

  <div class="main-container">
    <form th:action="@{/problem/update}" method="post" onsubmit="convertToKST()">
      <input type="hidden" name="id" th:value="${problem.id}"/>
      <input type="hidden" name="contestId" th:value="${problem.contest.id}"/> <!-- contestId 숨겨진 필드 추가 -->
      <div class="form-group">
        <label for="title" class="font-weight-bold">Problem name:</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${problem.title}" required>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Problem Statement</label>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="problem-statement-tab" data-toggle="tab" href="#problem-statement" role="tab" aria-controls="problem-statement" aria-selected="true">Problem Statement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="preview" aria-selected="false">Preview</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="problem-statement" role="tabpanel" aria-labelledby="problem-statement-tab">
            <textarea class="form-control mt-3" rows="10" name="description" id="problemStatement" th:text="${problem.description}" placeholder="Use Markdown syntax to write the problem statement..."></textarea>
          </div>
          <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">
            <div class="mt-3" id="previewContent"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Test Cases</label>
        <div id="testCasesContainer">
          <div th:each="testCase, iterStat : ${problem.testCases}">
            <div class="form-group row align-items-center">
              <div class="col-md-5">
                <label class="font-weight-bold">Input Cases</label>
                <textarea class="form-control" name="inputs[]" placeholder="Input case" th:text="${testCase.input}"></textarea>
              </div>
              <div class="col-md-5">
                <label class="font-weight-bold">Output Cases</label>
                <textarea class="form-control" name="outputs[]" placeholder="Output case" th:text="${testCase.expectedOutput}"></textarea>
              </div>
              <div class="col-md-1">
                <input type="checkbox" name="isHidden[]" class="form-check-input" th:checked="${testCase.isHidden}"> Hidden
              </div>
              <div class="col-md-1 text-center">
                <button type="button" class="delete-btn" onclick="removeTestCase(this)"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-lightblue mt-3" id="addCaseBtn">Add case</button>
      </div>
      <div class="form-group">
        <label for="dueDate" class="font-weight-bold">Deadline</label>
        <input type="datetime-local" class="form-control" id="dueDate" name="dueDate" th:value="${formattedDueDate}" required>
      </div>
      <button type="submit" class="btn btn-lightblue">Save</button>
      <a th:href="@{/dashboard}" class="btn btn-lightblue">Cancel</a>
      <button type="button" class="btn btn-danger" onclick="deleteProblem()">Delete</button>
    </form>
  </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

<!-- Bootstrap JS and dependencies -->
<div th:replace="~{fragments :: scripts}"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  function deleteProblem() {
    if (confirm('Are you sure you want to delete this problem?')) {
      var problemId = /*[[${problem.id}]]*/ '0';
      var contestId = /*[[${problem.contest.id}]]*/ '0';

      fetch('/problem/delete/' + problemId, {
        method: 'POST',
      })
              .then(response => {
                if (response.ok) {
                  window.location.href = '/admin_contest/' + contestId;
                } else {
                  alert('Failed to delete the problem.');
                }
              })
              .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while deleting the problem.');
              });
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.nav-link').forEach(link => {
      link.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1);
        document.querySelectorAll('.tab-pane').forEach(tab => {
          tab.classList.remove('show', 'active');
        });
        document.querySelector(`#${targetId}`).classList.add('show', 'active');

        document.querySelectorAll('.nav-link').forEach(link => {
          link.classList.remove('active');
        });
        this.classList.add('active');

        if (targetId === 'preview') {
          const problemStatement = document.getElementById('problemStatement').value;
          document.getElementById('previewContent').innerHTML = marked.parse(problemStatement);
        }
      });
    });

    let caseCount = /*[[${problem.testCases.size()}]]*/ 0;
    // let gradingCaseCount = /*[[${problem.testCases.size()}]]*/ 0;

    document.getElementById('addCaseBtn').addEventListener('click', function () {
      caseCount++;
      const testCaseDiv = document.createElement('div');
      testCaseDiv.className = 'form-group row align-items-center';
      testCaseDiv.innerHTML = `
        <div class="col-md-5">
          <textarea class="form-control" name="inputs[]" placeholder="Input case"></textarea>
        </div>
        <div class="col-md-5">
          <textarea class="form-control" name="outputs[]" placeholder="Output case"></textarea>
        </div>
        <div class="col-md-1">
          <input type="checkbox" name="isHidden[]" class="form-check-input"> Hidden
        </div>
        <div class="col-md-1 text-center">
          <button type="button" class="delete-btn" onclick="removeTestCase(this)"><i class="fas fa-trash-alt"></i></button>
        </div>
      `;
      document.getElementById('testCasesContainer').appendChild(testCaseDiv);
    });
    window.removeTestCase = function(button) {
      const testCaseDiv = button.closest('.form-group');
      if (testCaseDiv && testCaseDiv.parentElement) {
        testCaseDiv.parentElement.removeChild(testCaseDiv);
      }
    };
  });

  function convertToKST() {
    const dueDateInput = document.getElementById('dueDate');
    const localDate = new Date(dueDateInput.value);
    const utcDate = new Date(localDate.getTime() - localDate.getTimezoneOffset() * 60000);
    const offset = 9 * 60; // 한국 표준시 (KST) UTC+9
    const kstDate = new Date(utcDate.getTime() + offset * 60000);
    dueDateInput.value = kstDate.toISOString().slice(0, 16);
  }
</script>
</body>
</html>
