<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
    <link th:href="@{/HisSolve/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- Navigation Bar Fragment -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-light sticky-nav">
    <div class="container">
        <a class="navbar-brand" href="/HisSolve/dashboard" style="color: #edf2f4;">Hissolve</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/HisSolve/dashboard" style="color: #edf2f4;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/HisSolve/help" style="color: #edf2f4;">Help</a>
                </li>
                <li class="nav-item" th:if="${user != null}">
                    <a class="nav-link" href="/HisSolve/profile/edit" style="color: #edf2f4;">
                        <span th:text="${user.username} + ' ' + (${user.role} == 'ADMIN' ? '님' : '님')"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-item" th:if="${user != null}">
            <a class="nav-link" th:href="@{/HisSolve/logout}" style="color: #2b2d42;">
                <img th:src="@{/HisSolve/img/logout.png}" alt="Logout Icon" style="width: 24px; height: 24px;"> Logout
            </a>
        </div>
    </div>
</nav>


<!-- Footer Fragment -->
<footer class="text-center text-lg-start" style="background-color: #edf2f4;">
    <div class="text-center p-3 footer-text" style="color: #2b2d42;">
        © 2024 Porkmon walab 최지호 장가은
    </div>
</footer>


<!-- Bootstrap JS and dependencies Fragment -->
<script th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    window.onscroll = function() {
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("navbar-fixed");
        } else {
            navbar.classList.remove("navbar-fixed");
        }
    };
</script>

<!-- 브라우저 종료/탭 종료 시 active 상태를 false로 설정하는 스크립트 -->
<script type="text/javascript">
    window.addEventListener("beforeunload", function (e) {
        navigator.sendBeacon('/HisSolve/logoutSession');
    });
</script>
</script>
</body>
</html>
