<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
    <!-- 공통 CSS 파일 참조 -->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar Fragment -->

<nav th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/dashboard">Hisolve</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>
<!-- Footer Fragment -->
<footer th:fragment="footer">
    <footer class="text-center text-lg-start">
        <div class="text-center p-3 footer-text">
            © 2024 Porkmon walab.
        </div>
    </footer>
</footer>

<!-- Bootstrap JS and dependencies Fragment -->
<script th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</script>
</body>
</html>
