<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link th:href="@{/HisSolve/css/styles.css}" rel="stylesheet">
  <style>
    .btn-blue {
      background-color: #007bff;
      color: white;
    }
    .text-blue {
      color: #007bff;
    }
  </style>
</head>
<body>
<div th:replace="~{fragments :: nav}"></div>
<div class="container" data-aos="fade-up">
  <div class="section-title">
    <h2>Hissolve</h2>
    <p class="font-weight-bold">Hissolve는 코딩 과제/대회 문제 제출, 채점이 가능한 서비스 입니다.</p>
  </div>
  <div class="text-center" id="topicLinkContainer">
<!--    <p class="mb-3 h5"><a href="https://github.com/zhoho/NewHisolve">github link</a></p>-->
  </div>
  <div class="text-center">
    <a class="btn btn-blue rounded-sm my-3 mb-5" href="https://docs.google.com/forms/d/e/1FAIpQLSfNRdegQYbuhE6YrMBnkMfl47lyIWolreXWaLpZ16UPRYUTdw/viewform?usp=sf_link"><b>Contact Us</b></a>
  </div>
</div>

<!--<div th:replace="~{fragments :: footer}"></div>-->
<div th:replace="~{fragments :: scripts}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>