<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${problem.title}">Problem Details</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link th:href="@{/css/problem_view.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments :: nav}"></div>

<div class="container">
  <div class="problem-header">
    <h1 class="my-4" th:text="${problem.title}">Problem Title</h1>
    <div class="button-group">
      <form action="#" th:action="@{/submission_view/{problemId}(problemId=${problem.id})}" method="get">
        <button type="submit" class="btn btn-primary">제출자 보기</button>
      </form>
      <form th:action="@{/problem/edit/{id}(id=${problem.id})}" method="get">
        <button type="submit" class="btn btn-secondary">문제 수정</button>
      </form>
      <form th:action="@{/problem/delete/{id}(id=${problem.id})}" method="post">
        <button type="submit" class="btn btn-danger">문제 삭제</button>
      </form>
    </div>
  </div>
  <div class="problem-description" th:attr="data-description=${problem.description}"></div>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const problemId = urlParams.get('problemId');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const descriptions = document.querySelectorAll('.problem-description');
      descriptions.forEach(description => {
        const markdown = description.getAttribute('data-description');
        description.innerHTML = marked.parse(markdown);
      });
    });
  </script>
</div>
<div th:replace="~{fragments :: footer}"></div>
<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>
