<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${course.name}">Professor Course Details</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments :: nav}"></div>

<div class="container">
  <h1 class="my-4 text-center" th:text="${course.name}">Course Name</h1>
  <h2 class="my-4">과제목록</h2>
  <ul class="list-group mb-4">
    <li class="list-group-item" th:each="assignment : ${assignments}">
      <a th:href="@{/professor_assignment/{id}(id=${assignment.id})}" th:text="${assignment.title+ ' (Due: ' + assignment.getDueDate() + ')'}" class="text-white"></a>
    </li>
  </ul>
</div>

<div class="text-center">
  <a th:href="@{/assignment/create(courseId=${course.id})}" class="btn btn-primary btn-lg">Create Assignment</a>
</div>

<div th:replace="~{fragments :: footer}"></div>
<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>
