<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rank Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<style>
  body, html {
    background-color: #ffffff; /* 전체 배경색 흰색 */
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<body>
<div th:replace="~{fragments :: nav}"></div>

<div class="container mt-3">
  <div class="contest-banner">
    <div class="contest-header">
      <h1 th:text="${contest.name} + ' - Rank Dashboard'"></h1>
    </div>
  </div>

  <!-- 엑셀 다운로드 버튼 -->
  <div class="text-right mb-3">
    <a class="btn btn-success" th:href="@{/contest/export(contestId=${contest.id})}" role="button">엑셀 다운로드</a>
  </div>

  <div class="main-container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Scores</th>
        <th>Total Score</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user, iterStat : ${users}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td>
          <span th:each="score : ${userProblemScores[user.id]}" th:text="${score} + ' '"></span>
        </td>
        <td th:text="${userTotalScores[user.id]}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

<!-- Bootstrap JS and dependencies -->
<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>
