<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments :: nav}"></div>

<h1>과목 관리</h1>
<div th:replace="~{fragments :: footer}"></div>
<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>